<!DOCTYPE html>
<html>
  <head>
    <title>Home | Food Allergies</title>
  </head>
  <body>

  <div class="center jumbotron">
  <h1>
    Welcome to the Food Allergies Tracker <br>
    <small>We help you manage your health!</small>
  </h1>
  <br>

  <%= link_to "My Food Diary", diary_entries_path, class: "btn btn-md btn-primary active" %>
  <%= link_to "Look up Food", foods_search_path, class: "btn btn-md btn-primary active" %>
  <%= link_to "Look up Allergens", allergens_path, class: "btn btn-md btn-primary active" %>
  <%= link_to "Weight Tracker", weights_path, class: "btn btn-md btn-primary active" %>

  </div>


  </body>

</html>
