<!DOCTYPE html>
<html>
  <head>
    <title>Home | Food Allergies</title>
  </head>
  <body>
    <h1>Food Allergies</h1>
    <p>
      This is the home page for the application.
    </p>
  </body>
</html>