<p id="notice"><%= notice %></p>

<h1>All Patients Info</h1>

<table class="table table-responsive">
  <thead>
    <tr align="center">
      <th width = "14.4%">Patient</th>
      <th width = "14.4%">email</th>
      <th width = "14.4%"></th>
      <th width = "14.4%"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
            <%= link_to 'Allergies and Diary Entries', user, :class => 'btn btn-default active' %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>
