<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
            </ul>
		</div>
	</div>
</div>
</nav>